<table class="table" *ngIf="pages">
  <thead class="thead-dark">
    <tr>
      <th class="text-uppercase">title</th>
      <th class="text-center">Snippet</th>
      <th class="text-uppercase">WordCount</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let page of pages">
      <td>
        <a
          [href]="'https://en.wikipedia.org?curid=' + page.pageid"
          target="_blank"
          class="link"
        >
          <strong>{{ page.title }}</strong>
        </a>
      </td>
      <td [innerHtml]="page.snippet"></td>
      <td class="text-center">{{ page.wordcount }}</td>
    </tr>
  </tbody>
</table>
